<div class='comment media well well-sm'>
  <h4 class='media-heading'><%= comment.owner %></h4>
  <p><%= comment.text %></p>
  <small class="text-muted">published <%= comment.published_at() %></small>
</div>
