<h4>Write a Comment:</h4>
<form class="form" action="/comment" method="POST">
  <input type='hidden' name='article' value='<%= article.id %>'>
  <% if (flash && flash.err) { %>
    <ul>
      <% Object.keys(flash.err).forEach(function(error){ %>  
        <li><%= JSON.stringify(flash.err[error]) %></li>
      <% }) %>
    </ul>
  <% } %>
  <div class='form-group'>
    <input name='owner' placeholder='Name' type='text' class='form-control'>
  </div>
  <div class='form-group'>
    <div id='epiceditor'></div>
    <textarea name='text' placeholder='Comment...' type='text' rows='3' class='form-control' id='markdown_field'></textarea>
  </div>
  <br>
  <div class='control-group'>
    <input type='submit' value='Post Comment' class='btn'>
  </div>
  <div class='control-group'>
    <!-- hidden inputs -->
    <input type='hidden' name='_csrf' value='<%= _csrf %>'>
  </div>
</form>