<h3>business, code, and problem solving</h3>
<%= articles.length %> Articles
<a class='pull-right' href="/article/new">New Article</a>
<% articles.forEach(function(article){ %>
  <%- partial('partials/article', {article: article}) %>
<% }) %>

