<div class="blog-header">
  <p class="lead blog-description">
    <em>on business, code, and problem solving</em>
  </p>
</div>
<%= articles.length %> Articles
<a class='pull-right' href="/article/new">New Article</a>
<% articles.forEach(function(article){ %>
  <%- partial('partials/article', {article: article}) %>
<% }) %>

