<div class="blog-header">
  <h1>
  <p class="lead blog-description">
    <em><%= page_title %></em>
  </p>
  </h1>

</div>
<% articles.forEach(function(article){ %>
  <%- partial('partials/article', {article: article}) %>
<% }) %>

