<%- partial('partials/article') %>
<div class='comments'>
  <% if(comments.length > 0){ %>
    <div>
      <small class='text-muted'><%= article.comments.length %> comments:</small>
      <% comments.forEach(function(comment){ %>
        <%- partial('partials/comment', {comment: comment}) %>
      <% }) %>
    </div>
    <hr>
  <% } %>
  <%- partial('partials/comment_form', {article: article}) %>
</div>