<div class='features'>
  <section class="editor">
    <div class="outer">
      <div class="editorwrap">
        <section class="entry-markdown">
          <header class="floatingheader">
            &nbsp;&nbsp; Markdown 
          </header>
          <section class="entry-markdown-content">
<textarea id="entry-markdown" name=<%= textarea_name %>><%- textarea_value %></textarea>
          </section>
        </section>
        <section class="entry-preview active">
          <header class="floatingheader">
            &nbsp;&nbsp; Preview <span class="entry-word-count">0 words</span>
          </header>
          <section class="entry-preview-content">
            <div class="rendered-markdown"></div>
          </section>
        </section>
      </div>
    </div>
  </section>
</div>