<h2 class='small-caps'>About Hayk Saakian</h2>
<div class="well well-sm">
  <p>I am an Entrepreneur and Software Developer.</p>
  <p>I design, architect, and implement: technologies, businesses, and strategies. All with the power of code. </p>
  <p>At the moment, my focus is online marketing and lead generation. </p><p>I work with businesses to drive user acquisition via the internet.</p>
  <p>I also have experience building mobile apps to (600,000 users) and scaling websites to thousands of requests per day</p>
</div>


  <h3><i class="fa fa-briefcase"></i> Businesses</h3>

    <a class='btn btn-sm btn-github' href="http://www.skyrealre.com">
      <i class='fa fa-home'></i> 
      Skyreal - Real Estate Marketing</a>

    <a class='btn btn-sm btn-github' href="http://www.roxollo.com">
      <i class='fa fa-dashboard'></i> 
      Roxollo - Consulting
    </a>

  <h3><i class="fa fa-code"></i> My work is on</h3>

    <a class='btn btn-sm btn-github' href="https://github.com/hayksaakian"><i class="fa fa-github"></i> GitHub</a>

    <a class='btn btn-sm btn-android' href="https://play.google.com/store/apps/developer?id=Hayk+Saakian"><i class="fa fa-android"></i> Play Store</a>


<ul class='list-unstyled list-collapse'>
  <li>
    <h3><i class="fa fa-terminal"></i> My Focus:</h3>
  </li>
  <li><i class="fa fa-stack-overflow"></i>  Rails</li>
  <li><i class="fa fa-android"></i>  Android</li>
  <li><i class="fa fa-coffee"></i>  JavaScript (Node and Frontend)</li>
  <li><i class="fa fa-html5"></i>  HTML5</li>
  <li><i class="fa fa-css3"></i>  CSS3</li>
</ul>
