  <h2 class='small-caps'>Contact me</h2>
  <div class='well' style='display:inline-block'>
    <p>I'm always happy to discuss business and software.</p>
    <p>Get in touch, and I'll make time for a 15 minute chat.</p>
  </div>

    <h3><i class="fa fa-list"></i> Primary Contacts</h3>
  
      <a class='btn btn-sm btn-github' href="#"><i class="fa fa-envelope"></i> first.last@gmail.com</a>
  
      <a class="btn btn-sm btn-twitter" href="http://twitter.com/hayksaakian"><i class="fa fa-twitter"></i> @hayksaakian</a>
  
      <a class='btn btn-sm btn-skype' href="#"><i class='fa fa-phone'></i> <span class='phone-number'>883-7226</span></a>
  
    <h3><i class="fa fa-code"></i> My work is on</h3>
  
      <a class='btn btn-sm btn-github' href="https://github.com/hayksaakian"><i class="fa fa-github"></i> GitHub</a>
  
      <a class='btn btn-sm btn-android' href="https://play.google.com/store/apps/developer?id=Hayk+Saakian"><i class="fa fa-android"></i> Play Store</a>
  

  <ul class='list-unstyled list-collapse'>
    <li>
      <h3><i class="fa fa-terminal"></i> My Focus:</h3>
    </li>
    <li><i class="fa fa-stack-overflow"></i>  Rails</li>
    <li><i class="fa fa-android"></i>  Android</li>
    <li><i class="fa fa-coffee"></i>  JavaScript (Node and Frontend)</li>
    <li><i class="fa fa-html5"></i>  HTML5</li>
    <li><i class="fa fa-css3"></i>  CSS3</li>
  </ul>

    <h3><i class="fa fa-comments"></i> I comment on</h3>
  
      <a class='btn btn-sm btn-github' href="http://stackoverflow.com/users/840099/hayk-saakian"><i class="fa fa-stack-overflow"></i> stackoverflow</a>
  
      <a class='btn btn-sm btn-github' href="https://news.ycombinator.com/threads?id=hayksaakian">
      <img src="https://news.ycombinator.com/y18.gif" width="18" height="18" style="border:1px #ffffff solid;"> Hacker News</a>
  

    <h3><i class="fa fa-user"></i> I have profiles on</h3>
  
      <a class='btn btn-sm btn-linkedin' href="https://linkedin.com/hayksaakian"><i class="fa fa-linkedin"></i> | HaykSaakian</a>
  
      <a class='btn btn-sm btn-google-plus' href="https://plus.google.com/+HaykSaakian"><i class="fa fa-google-plus"></i> | +HaykSaakian</a>
