  <h1>Contact me</h1>
  <div class='well well-sm' style='display:inline-block'>
    <p>I'm always happy to discuss business and software.</p>
    <p>Get in touch, and I'll make time for a 15 minute chat.</p>
  </div>

    <h3><i class="fa fa-list"></i> Primary Contacts</h3>
  
      <a class='btn btn-sm btn-github' href="#"><i class="fa fa-envelope"></i> first.last@gmail.com</a>
  
      <a class="btn btn-sm btn-twitter" href="http://twitter.com/hayksaakian"><i class="fa fa-twitter"></i> @hayksaakian</a>
  
      <a class='btn btn-sm btn-skype' href="#"><i class='fa fa-phone'></i> <span class='phone-number'>883-7226</span></a>
  
    <h3><i class="fa fa-comments"></i> I comment on</h3>
  
      <a class='btn btn-sm btn-github' href="http://stackoverflow.com/users/840099/hayk-saakian"><i class="fa fa-stack-overflow"></i> stackoverflow</a>
  
      <a class='btn btn-sm btn-github' href="https://news.ycombinator.com/threads?id=hayksaakian">
      <img src="https://news.ycombinator.com/y18.gif" width="18" height="18" style="border:1px #ffffff solid;"> Hacker News</a>
  

    <h3><i class="fa fa-user"></i> I have profiles on</h3>
  
      <a class='btn btn-sm btn-linkedin' href="https://linkedin.com/hayksaakian"><i class="fa fa-linkedin"></i> | HaykSaakian</a>
  
      <a class='btn btn-sm btn-google-plus' href="https://plus.google.com/+HaykSaakian"><i class="fa fa-google-plus"></i> | +HaykSaakian</a>
